<?xml version="1.0" ?>
<model>
    <name>Red Lego Block</name>
    <version>1.0</version>
    <sdf version="1.6">../../urdf/red_lego.sdf</sdf>
    <author>
        <name>Vinny Adjibi</name>
        <email>vadjibi@andrew.cmu.edu</email>
    </author>
    <description>Lego Red Block</description>
</model>
